appdirs==1.4.4
atomicwrites==1.4.0
branca==0.8.1
chroma-py==0.1.0.dev1
colour==0.1.5
geojson==3.2.0
ipywidgets==8.1.5
jsonpointer==2.1
jupyter_bokeh==4.0.5
jupyterlab_widgets==3.0.13
mapboxgl==0.10.2
matplotlib==3.9.2
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
pyproj==3.7.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
requests==2.32.3
setuptools==75.1.0
wheel==0.44.0
widgetsnbextension==4.0.13